/* *******************************************
****** PROJECT SETUP
******************************************* */
@import url("https://use.typekit.net/wtc5nxi.css");

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: #555555;
  --secondary: white;
  --liteAccent: #eeeeee;
  --accent: #aaaaaa;
  --code: red;

  /* FONTS */
  --title: bebas-neue-pro-semiexpanded, sans-serif;
  --text: proxima-nova, sans-serif;
}

/* GLOBAL STYLES */
* {
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: 600;
  line-height: 3rem;
}

body {
  font-family: var(--text);
  font-weight: 300;
  font-style: normal;
  line-height: 2.75rem;
  margin: auto;
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--accent);
}

a:focus {
  color: var(--main);
}

/* *******************************************
****** PROJECT STYLES
******************************************* */

/* Raw CSS for mobile start*/

/* Header */
.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 63px;
  overflow-x: hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 2s, opacity 1s ease-in-out;
}

.overlayContent {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.overlay a {
  position: relative;
  padding: 8px;
  text-decoration: none;
  font-size: 3rem;
  color: var(--main);
  display: block;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlayBackground {
  z-index: 6;
  width: 360px;
  height: 360px;
  border-radius: 50%;
  background-color: var(--liteAccent);
  transition: all 750ms ease-in-out;
  transform: scale(0.1);
  position: absolute;
}

#logo,
#logoAlt {
  font-family: bebas-neue, sans-serif;
  font-size: 3.5rem;
}

#logo {
  display: none;
}

.topNavContainer {
  z-index: 5;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.topNavLinks {
  display: none;
}

#mobileNav {
  width: 33px;
  height: 33px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuButton {
  z-index: 11;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 750ms ease-in-out;
}

.menuButtonBurger {
  width: 20px;
  height: 4px;
  background: black;
  border-radius: 2px;
  transition: all 750ms ease-in-out;
}

.menuButtonBurger::before,
.menuButtonBurger::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 4px;
  background: black;
  border-radius: 2px;
  transition: all 750ms ease-in-out;
}

.menuButtonBurger::before {
  transform: translateY(-7px);
}

.menuButtonBurger::after {
  transform: translateY(7px);
}

.menuButton.open .menuButtonBurger {
  transform: translateX(10px);
  background: transparent;
}

.menuButton.open .menuButtonBurger::before {
  transform: rotate(45deg) translate(-9px, 9px);
  width: 20px;
}

.menuButton.open .menuButtonBurger::after {
  transform: rotate(-45deg) translate(-9px, -9px);
  width: 20px;
}

/* .fas.fa-bars {
  z-index: 11;
  font-size: 20px;
  position: relative;
} */

.footer {
  margin-top: 75px;
  width: 100%;
}

.footerText {
  color: var(--accent);
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.3rem;
}

/* Raw CSS for mobile end*/

/* Raw CSS for desktop start*/

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1200px;
  }

  #logo {
    display: flex;
  }

  #logoAlt {
    display: none;
  }

  .topNavContainer {
    border-bottom: rgba(63, 63, 63, 0.2) 1px solid;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
  }

  .topNav {
    line-height: inherit;
  }

  .topNavLinks {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    line-height: 1em;
  }

  .topNavLinks li a {
    margin-left: 25px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  #mobileNav {
    display: none;
  }
}

/* Raw CSS for desktop end*/
