/* *******************************************
****** PROJECT SETUP
******************************************* */
@import url("https://use.typekit.net/wtc5nxi.css");

/* VARIABLES */
:root {
  /* MAIN COLORS */
  --main: #3f3f3f;
  --secondary: white;
  --accent: #dadada;
  --code: red;

  /* FONTS */
  --title: bebas-neue-pro-semiexpanded, sans-serif;
  --text: proxima-nova, sans-serif;
}

/* GLOBAL STYLES */
* {
  font-size: 12px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* outline: 2px solid gold; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title);
  font-weight: 600;
  line-height: 3.5rem;
}

body {
  font-family: var(--text);
  font-weight: 300;
  font-style: normal;
  line-height: 2.75rem;
  margin: auto;
  padding: 20px;
}

a {
  color: black;
  text-decoration: none;
}

/* *******************************************
****** PROJECT STYLES
******************************************* */

/* Raw CSS for mobile start*/

/* Header */

/* Overlay Mobile Navigation Start*/
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0%;
  position: fixed; /* Stay in place */
  z-index: 11; /* Sit on top */
  left: 0;
  top: 0;
  background-color: var(--main);
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

.overlay-content {
  position: relative;
  top: 15%; /* 15% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 3rem;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 22px;
  right: 20px;
  padding: 0;
  font-size: 0;
}

.fas.fa-times-circle {
  font-size: 38px;
}

/* Overlay Mobile Navigation End */

#logo a,
#logoAlt a {
  font-family: bebas-neue, sans-serif;
  font-size: 3rem;
}

#logoAlt a {
  font-size: 3.5rem;
}

#logoAlt {
  display: flex;
}

#logo {
  display: none;
}

.topNavContainer {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: rgba(63, 63, 63, 0.1) 1px solid;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  max-width: 1200px;
  margin: 0 auto;
  line-height: 0;
}

.topNavLinks {
  display: none;
}

.fas.fa-plus-circle {
  font-size: 38px;
}

/* Raw CSS for mobile end*/

/* Raw CSS for desktop */

@media only screen and (min-width: 1024px) {
  body {
    max-width: 1200px;
  }

  #logo {
    display: flex;
  }

  #logoAlt {
    display: none;
  }

  .topNav {
    line-height: inherit;
  }

  .topNavLinks {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
  }

  .topNavLinks li a {
    margin-left: 25px;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .fas.fa-plus-circle {
    display: none;
  }
}
