/* HOME */

.landingText > h1 {
  font-size: 3.5rem;
}

.landingText > h1 > span {
  font-size: inherit;
  color: var(--accent);
}

.landingText > h1 > span:nth-of-type(2) {
  font-style: italic;
}

/* ABOUT ME */

#profilePic {
  border-radius: 50%;
  width: 15vw;
  min-width: 200px;
  margin: 4vw auto 3vw auto;
  display: block;
}

.aboutText {
  max-width: 1000px;
  margin: 0 auto;
}

.aboutText h1 {
  font-size: 3.5rem;
}

.aboutText span {
  font-size: 3rem;
}

.aboutText p {
  margin: 2rem 0 2rem 0;
  font-size: 2rem;
}
